header {
  position: fixed;
  top: 0;
  width: 100vw;
  height:4rem;

  background-color: rgba(203, 203, 214, 0.9);
  font-size: 2rem;
}

main {
  margin-top: 4rem;
}

nav {
  font-size: 1rem;
  padding-top: 0.2rem;
}

nav > span {
  margin: 0px 0.2rem;
}

/* Rules for tablets and bigger viewports */
@media (min-width: 768px) {
  header {

  }
}
