
.page-title {
  margin: 2em 0em;
}

/* HOME */

#home {
  height: 80vh;
  margin-top: 20vh;
}

.jumbo {
    background-color: #e6e6ef;
    padding: 1rem;
    border-radius: 1rem;
}

.jumbo > p {
  font-size: 1.2em;
}

.jumbo > img {
  max-width: 12rem;
  width: 80%;
  border-radius: 12rem;
  padding: 1rem;
}
