.home {
  height: 80vh;
  padding-top: 20vh;
}

.jumbo {
    background-color: #f7f7f7;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 27px -3px #00000012;
}

.jumbo > h1 {
  text-transform: uppercase;
}

.jumbo > p {
  font-size: 1.2em;
}

.jumbo > img {
  max-width: 20rem;
  width: 80%;
  border-radius: 50%;
  padding: 1rem;
}
