.project {
  max-width: 85%;
  margin: 5em auto;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .project {
    max-width: 400px;
  }
}

.project h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.project img {
  float: left;
  width:5em;
  border-radius: 50%;
}

.project-text {
  text-align: left;
  padding-left: 20px;
  font-size: 0.9em;
}
