* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
  color:#333;
}

/* Rules for tablets and bigger viewports */
@media (min-width: 768px) {

}

main {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem;

  font-weight: 400;
}

section {
  /*margin: 1rem;*/
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

p {
  font-size: 1rem;
  max-width: 640px;
  margin: auto;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:visited{
  color: #337ab7;
}

hr {
  margin: 2px 0px;
}

button {
  background-color: white;
  letter-spacing: 2px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  color: #337ab7;
}

.clear {
  clear: both;
}


/* center vertically */
.vert-outer {
  display: table;
}
.vert-middle {
  display: table-cell;
  vertical-align: middle;
}
