header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: rgba(203, 203, 214, 0.9);
  font-size: 2rem;

  height:20vh;
}

nav {
  padding-top: 0.2rem;
}

.name {
  font-size: 1.5em;
  text-transform: uppercase;
}

nav > a {
  margin: 0px 0.2rem;
  color: #3e3e3e;
  text-transform: uppercase;
}
nav > a:visited {
  color: #3e3e3e;
}

/* Rules for tablets and bigger viewports */
@media (min-width: 768px) {
  header {

  }
}
