header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: rgba(62, 62, 62, 0.98);
  font-size: 2rem;

  height:20vh;
  color: #ececec;
}

nav {
  padding-top: 0.2rem;
}

.name {
  font-size: 1.5em;
  text-transform: uppercase;
}

nav > a {
  margin: 0px 0.2rem;
  color: #ababab;
  text-transform: uppercase;
}
nav > a:visited {
  color: #ababab;
}

/* Rules for tablets and bigger viewports */
@media (min-width: 768px) {
  header {

  }
}

.word-in-view span {
    transition: opacity 250ms;
    opacity: 0.5;
    color: white;
}
.word-in-view span:nth-child(0)  { transition-delay:  150ms }
.word-in-view span:nth-child(2)  { transition-delay:  220ms }
.word-in-view span:nth-child(3)  { transition-delay:  180ms }
.word-in-view span:nth-child(4)  { transition-delay:  150ms }
.word-in-view span:nth-child(5)  { transition-delay:  160ms }
.word-in-view span:nth-child(6)  { transition-delay:  180ms }
.word-in-view span:nth-child(7)  { transition-delay:  150ms }
.word-in-view span:nth-child(8)  { transition-delay:  160ms }

.word-in-view span.active-letter {
  opacity: 1;
}
