
.page-title {
  margin: 5em 0em;
}

/* HOME */

#home {
  height: 80vh;
  margin-top: 20vh;
}

.jumbo {
    background-color: #e6e6ef;
    padding: 1rem;
    border-radius: 1rem;
}

.jumbo > p {
  font-size: 1.2em;
}

.jumbo > img {
  max-width: 12rem;
  width: 80%;
  border-radius: 12rem;
  padding: 1rem;
}


/* PROJECTS */
.project {
  max-width: 340px;
  margin: auto;
}

.project img {
  float: left;
  width:5em;
  border-radius: 50%;
}

.project-content-height {
  height:5em;
  margin: 1em 0em;
}

.project-text {
  text-align: left;
  padding-left: 20px;
  font-size: 0.9em;
}
